@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

@media (min-width: 768px) {
    .slick-prev,
    .slick-next {
        display: block;
    }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -45px;
}

[dir='rtl'] .slick-prev {
    right: -45px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: -45px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -45px;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

.slick-next,
.slick-prev {
    display: none !important;
}

@media (min-width: 768px) {
    .slick-next,
    .slick-prev {
        display: inline-block !important;
    }
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: -4rem;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 40px;
}

@media (min-width: 768px) {
    .slick-dots {
        bottom: 35px;
    }
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    font-size: 40px;
}

.slick-dots li button {
    font-size: 40px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 80px;
    line-height: 20px;
    position: absolute;
    top: -5rem;
    left: -30rem;
    width: 2rem;
    height: 2rem;
    content: '•';
    text-align: center;
    color: #ffffff;
    display: none;
}

@media (min-width: 960px) {
    .slick-dots li button:before {
        display: block;
        top: -5rem;
        left: -30rem;
    }
}

@media (min-width: 1280px) {
    .slick-dots li button:before {
        top: 2.7rem;
        left: -45rem;
    }
}

@media (min-width: 1600px) {
    .slick-dots li button:before {
        top: -2.7rem;
        left: -65rem;
    }
}

.slick-dots li.slick-active button:before {
    color: #FD4D44;
}

.slick-3 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 80px;
    line-height: 20px;
    position: absolute;
    top: 13rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    content: '•';
    text-align: center;
    color: #552BB1;
}

.slick-3 .slick-dots li.slick-active button:before {
    color: #FD4D44;
}

.slick-2 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 80px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    content: '•';
    text-align: center;
    color: #ffffff;
}

.slick-2 .slick-dots li.slick-active button:before {
    color: #474646;
}

.multiple-items-3 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 80px;
    line-height: 20px;
    position: absolute;
    top: 15rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    content: '•';
    text-align: center;
    color: #552BB1;
}

.multiple-items-3 .slick-dots li.slick-active button:before {
    color: #FD4D44;
}

.multiple-items-3 .slick-dots li,
.slick-2 .slick-dots li,
.slick-3 .slick-dots li,
.slick-dots li {
    display: none;
}

@media (min-width: 768px) {
    .multiple-items-3 .slick-dots li,
    .slick-2 .slick-dots li,
    .slick-3 .slick-dots li,
    .slick-dots li {
        display: inline-block;
    }
}