$color-fir: #000552;
$color-sec: #FEBE42;
$color-tri:#FD4D44;
$color-fou:#4422B1;
$color-h1:#ffffff;
$color-h2:#ffffff;
$font-size-h1: 6rem;
$font-size-h2: 4rem;
$media-768: 768px;
$media-960: 992px;
$media-1280: 1200px;
$media-1600: 1600px;
$font-family:'Quicksand',
sans-serif;