.piso {
    @media (min-width: $media-1600) {
        margin-top: 18rem;
    }
    margin-top: 5rem;
    margin-bottom: 5rem;
    .ConsultaApt {
        line-height: 5rem;
        h3 {
            text-align: left;
            color: $color-fou;
            font-size: 4rem;
            font-weight: 700;
        }
        // @media (min-width: $media-768) {
        //     padding: 4rem 8rem 4rem 3rem;
        // }
        // @media (min-width: 1920px) {
        //     padding: 17rem 32rem 19rem 13rem;
        // }
        padding: 2rem;
    }
    label {
        color: $color-fir;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        @media (min-width: $media-768) {
            font-size: 2.4rem;
        }
    }
    option {
        i {
            color: $color-fir;
            font-size: 5rem;
        }
    }
    select {
        height: auto;
        background-color: #F8F8F8;
        appearance: none;
        color: $color-fir;
        font-size: 1.3rem;
        text-align: left;
        background-image: url(/img/arrowOptionDown.svg);
        font-weight: 700;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-repeat: no-repeat;
        background-position-x: right;
        block-size: 100%;
    }
}

.desplegable {
    background-color: #fff;
    display: none;
    text-align: center;
    padding: 0;
    width: 100%;
    a {
        width: 100%;
        background-color: #fff;
        padding: 1rem;
    }
    @media (min-width: $media-768) {
        position: absolute;
    }
}

.menuApto {
    display: flex;
    @media (min-width: $media-768) {
        position: relative;
    }
}

.AptosDispo {
    @media (min-width: $media-768) {
        display: block;
    }
    display: flex;
    margin: 0 auto;
}

.planos-1 {
    display: none;
}

.infoApto {
    margin-top: 5rem;
    padding: 0 5rem;
    .metroCuadrado {
        width: 100%;
        margin: 1rem 0;
    }
    a {
        width: 30rem;
        background-color: $color-fir;
        color: #ffffff;
        padding: 2rem 6rem;
        margin-top: 3rem;
        @media (min-width: $media-768) {
            padding: 1rem 4rem;
        }
        @media (min-width: $media-1280) {
            padding: 2rem 6rem;
        }
    }
    h2 {
        color: $color-fou;
        font-size: 4rem;
        font-weight: 700;
        padding: 1.5rem 0;
        @media (min-width: $media-768) {
            font-size: 3rem;
        }
        @media (min-width: $media-1600) {
            font-size: 4rem;
        }
    }
    h3 {
        color: #19A1C8;
        font-size: 6rem;
        text-align: left;
        @media (min-width: $media-768) {
            font-size: 3rem;
        }
        @media (min-width: $media-1600) {
            font-size: 6rem;
        }
    }
    p {
        font-style: 2rem !important;
        color: $color-fir;
        font-weight: 500;
        margin-bottom: 3rem;
        @media (min-width: $media-768) {
            margin-bottom: 1.5rem;
        }
        @media (min-width: $media-1280) {
            margin-bottom: 3rem;
        }
    }
    h4 {
        font-style: 1.5rem !important;
        color: $color-fir;
        font-weight: 500;
        margin-bottom: 3rem;
        @media (min-width: $media-768) {
            margin-bottom: 1.5rem;
        }
        @media (min-width: $media-1280) {
            margin-bottom: 3rem;
        }
    }
    span {
        font-style: 1rem;
        color: $color-fou;
        font-weight: 500;
    }
}

.border-btn {
    &-2 {
        border-bottom: 1px solid $color-fou;
    }
    border-bottom: 1px solid #4e4e4e;
    p {
        font-style: 2rem !important;
        color: $color-fir;
        font-weight: 500;
        margin-bottom: 3rem;
        @media (min-width: $media-768) {
            margin-bottom: 1.5rem;
        }
        @media (min-width: $media-1280) {
            margin-bottom: 3rem;
        }
    }
}

.InfoDesgloce {
    margin-top: 5rem;
    @media (min-width: $media-960) {
        margin-top: 7rem;
    }
    img {
        margin-bottom: 1rem;
        width: 100%;
    }
    p {
        font-size: 1.5rem;
        margin-left: 2rem;
        color: $color-fir;
        font-weight: 500;
        @media (min-width: $media-1600) {
            margin-top: 0;
            font-size: 2rem;
        }
    }
}

.detal {
    .plano-apto {
        margin-top: 5rem;
        @media (min-width: $media-960) {
            margin-top: 7rem;
        }
        @media (min-width: $media-1600) {
            margin-top: 13rem;
        }
        img {
            border-right: 1px solid $color-fou;
            padding: 0 7rem;
        }
        .activeBtn {
            color: $color-fou;
            border: 1px solid $color-fou;
            padding: 2rem;
            font-size: 1rem;
            @media (min-width: $media-1600) {
                font-size: 1.5rem;
            }
            text-align: center;
            font-weight: 700;
            display: inline;
            width: 50%;
            text-decoration: none;
        }
    }
    @media (min-width: $media-768) {
        padding-top: 12rem;
    }
    background-color: #fff;
}

.gris {
    margin: 2rem auto;
    text-align: center;
    display: none;
    img {
        width: 100%;
    }
    a {
        text-align: center;
        padding: 2rem;
    }
}

.acabados {
    margin: 2rem auto;
    text-align: center;
    a {
        text-align: center;
        padding: 2rem;
        color: red;
    }
    img {
        width: 100%;
    }
}

.planos,
.planos-1 {
    text-align: center;
    img {
        @media (min-width: $media-768) {
            width: 100%;
        }
        color: #707070;
        position: relative;
    }
    justify-content: center;
    text-align: center;
    h3 {
        color: $color-fou;
        font-weight: 700;
        font-size: 3rem;
        @media (min-width: $media-960) {
            font-size: 5rem;
        }
        @media (min-width: $media-1600) {
            font-size: 7rem;
        }
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
    p {
        font-size: 2rem;
        @media (min-width: $media-768) {
            font-size: 2.4rem;
            top: 15rem;
        }
        font-weight: 700;
        color: $color-fou;
        position: absolute;
        top: 6rem;
        left: 3rem;
    }
    .disponibilidad {
        width: 2.4rem !important;
        height: 2.4rem !important;
    }
    @media (min-width: $media-1280) {
        margin: 6.4rem 5rem 0 9rem;
    }
    margin: 2rem;
}

.piso1 {
    // object-fit: cover !important;
    width: 100%;
}

.dispoText {
    text-align: center;
    margin-left: 0.5rem;
    color: $color-fir;
    @media (min-width: $media-768) {
        font-size: 2.4rem;
    }
    font-size: 1.5rem;
    font-weight: 500;
}

span {
    img {
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

.inactiveBtn {
    color: #4e4e4e;
    background-color: #F8F8F8;
    border: none;
    padding: 2rem;
    font-size: 1rem;
    @media (min-width: $media-1600) {
        font-size: 1.5rem;
    }
    text-align: center;
    font-weight: 700;
    display: inline;
    text-decoration: none;
    width: 50%;
}