 /*cotizador*/
 
 .cotizacion {
     margin: 5rem 0;
     height: 80rem;
     @media (min-width: $media-768) {
         margin: 12rem 0;
     }
     .row {
         margin: 5rem 0;
         @media (min-width: $media-768) {
             margin: 12rem 0;
         }
     }
 }
 
 .project {
     background-color: $color-fou;
     height: 70vh;
     text-align: center;
     @media (min-width: $media-768) {
         padding: 12.2rem 13.6rem;
         height: 82.9rem;
         text-align: left;
     }
     p {
         color: #ffffff;
         font-size: 3rem;
         font-weight: 500;
         display: block;
         @media (min-width: $media-768) {
             display: block;
             margin-bottom: 3rem;
         }
     }
     a {
         text-align: center;
         text-decoration: none;
         background-color: #ffffff;
         color: $color-fir;
         font-size: 1.6rem;
         display: inline-block;
         width: 50%;
         text-transform: uppercase;
         font-weight: 700;
         &:hover {
             background-color: $color-fir;
             color: #ffffff;
             transition: background-color 0.3s ease;
         }
         padding: 1.5rem 4.5rem;
         @media (min-width: $media-768) {
             padding: 2rem 4.5rem;
         }
     }
     .row {
         height: 100%;
         @media (min-width: $media-768) {
             margin: 2rem 0;
         }
     }
 }
 
 .download {
     position: relative;
     margin-top: 20rem;
     @media (min-width: $media-768) {
         height: 72.2rem;
         margin-top: 12rem;
     }
     height: 27rem;
     a {
         text-decoration: none;
         background-color: #ffffff;
         color: $color-fir;
         font-size: 1.6rem;
         text-transform: uppercase;
         font-weight: 700;
         padding: 1.5rem 4.5rem;
         @media (min-width: $media-768) {
             padding: 2rem 4.5rem;
         }
     }
     span {
         font-size: 1.4rem;
         color: #ffffff;
         position: absolute;
         left: 4rem;
         top: 2.6rem;
     }
 }