  /*Globals*/
  
  ul {
      list-style: none;
  }
  
  h1 {
      color: $color-h1;
      font-size: 2.8rem;
      text-align: left;
      font-weight: 700;
      @media (min-width: $media-768) {
          font-size: $font-size-h1;
      }
  }
  
  h2 {
      color: $color-h2;
      font-size: $font-size-h2;
  }
  
  h3 {
      color: $color-fir;
      font-size: 4rem;
      text-align: center;
      font-weight: 700;
  }
  
  h4 {
      color: $color-h1;
      text-align: left;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
  }
  
  .row {
      margin: 0;
      padding: 0;
      border: 0;
  }
  
  .content-with {
      @media (min-width: $media-768) {
          width: 50%;
      }
  }
  
  body {
      background-color: #F8F8F8;
      font-family: $font-family;
  }
  
  .no-padding {
      padding: 0;
  }
  
  .center {
      text-align: center !important;
  }
  
  .primario {
      background-color: $color-fou;
  }
  
  .secundario {
      background-color: $color-sec;
  }
  
  .terciario {
      background-color: $color-tri;
  }
  
  .cuarto {
      background-color: #19A1C8;
  }