/*Header*/

.info {
    background-color: $color-fir;
}

.hero {
    position: relative;
    width: 100%;
}

.slickshow {
    position: relative;
}

header {
    @media (min-width: $media-768) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    background-color: #fff;
}

.hero li,
.community li {
    margin-bottom: 3rem;
}

.contacto {
    right: 0;
    top: 25%;
    position: fixed;
    z-index: 1000000;
    .whatsapp {
        display: none;
        color: #ffffff;
        background-color: #25D366;
        font-size: 4rem;
        padding: 0 1.2rem;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        &:hover {
            background-color: #ffffff;
            color: #25D366;
        }
        @media (min-width: $media-768) {
            display: block;
        }
        &-2 {
            display: none;
            background-color: #000000;
            color: #25D366;
            &:hover {
                background-color: #ffffff;
            }
            font-size: 4rem;
            padding: 0 1.2rem;
            border-bottom-left-radius: 4rem;
            border-bottom-right-radius: 4rem;
            @media (min-width: $media-768) {
                display: block;
            }
        }
    }
}

.logo-lg {
    @media (min-width: $media-768) {
        position: absolute;
        top: 44px;
        width: 13%;
        left: 43.5%;
        display: block;
    }
    display: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo-sm {
    @media (min-width: $media-768) {
        display: none;
    }
    position: relative;
    top: 0;
    width: 50%;
    left: 25%;
    display: block;
}

.info p {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem 0;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    @media (min-width: $media-768) {
        font-size: 1.6rem;
    }
}

.dir {
    text-align: left !important;
    padding-left: 7.1rem;
}

.tel {
    text-align: right !important;
    padding-right: 7.1rem;
}

.info i {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: left;
    font-size: 3rem;
    color: #25d366;
    @media (min-width: $media-768) {
        display: none;
    }
}

.menu {
    background-color: $color-sec;
    text-align: center;
    color: $color-fir;
    font-size: $font-size-h2;
    @media (min-width: $media-768) {
        display: none;
    }
}

.navigation {
    display: none;
    text-align: center;
    background-color: #fff;
    @media (min-width: $media-768) {
        display: block;
    }
}

.navigation a {
    display: block;
    color: $color-fir;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 0;
    @media (min-width: $media-768) {
        padding: 4rem 0;
    }
}

.navigation ul li:last-of-type {
    background-color: $color-sec;
    &:hover {
        background-color: $color-fou;
        color: #ffffff;
    }
}

.navigation a:hover {
    color: $color-tri;
    transition: background-color 0.3s ease;
}

.contact a:hover {
    color: lighten(#ffffff, 15%);
}

.separe {
    background-color: $color-tri;
    &:hover {
        background-color: $color-fou;
    }
    a {
        color: #ffffff;
    }
    a:hover {
        color: #ffffff;
    }
}

.container {
    width: 162.6rem !important;
    max-width: 100%;
    margin: 0 auto;
}