/*Header*/

.info {
    background-color: $color-fir;
}

.hero {
    position: relative;
    width: 100%;
}

.slickshow {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.hero li,
.community li {
    margin-bottom: 3rem;
}

.whatsapp {
    display: none;
    color: #ffffff;
    background-color: #25D366;
    right: 0;
    top: 50%;
    font-size: 4rem;
    padding: 0 1.2rem;
    border-radius: 4px;
    z-index: 1000000;
    &:hover {
        background-color: #000000;
        color: #25D366;
    }
    @media (min-width: $media-768) {
        display: block;
        position: fixed;
    }
}

.logo-lg {
    @media (min-width: $media-768) {
        position: absolute;
        top: 44px;
        width: 13%;
        left: 43.5%;
        display: block;
    }
    display: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo-sm {
    @media (min-width: $media-768) {
        display: none;
    }
    position: relative;
    top: 0;
    width: 50%;
    left: 25%;
    display: block;
}

.info p {
    color: #ffffff;
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    @media (min-width: $media-768) {
        font-size: 1.6rem;
    }
}

.info i {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: left;
    font-size: 3rem;
    color: #25d366;
    @media (min-width: $media-768) {
        display: none;
    }
}

.menu {
    background-color: $color-sec;
    text-align: center;
    color: $color-fir;
    font-size: $font-size-h2;
    @media (min-width: $media-768) {
        display: none;
    }
}

.navigation {
    display: none;
    text-align: center;
    background-color: #fff;
    @media (min-width: $media-768) {
        padding-left: 4rem;
        display: block;
    }
}

.navigation a {
    display: block;
    color: $color-fir;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 0;
    @media (min-width: $media-768) {
        padding: 4rem 0;
    }
}

.navigation ul li:last-of-type {
    background-color: $color-sec;
}

.navigation a:hover {
    color: $color-tri;
    transition: background-color 0.3s ease;
}

.contact a:hover {
    color: lighten($color-fir, 15%);
}