  .slick {
      span {
          text-align: left;
          color: #ffffff;
          position: absolute;
          top: auto;
          bottom: 3rem;
          left: 14.5rem;
          font-size: 1.4rem;
          font-weight: 500;
          display: none;
          width: 72.5rem;
          @media (min-width: $media-768) {
              display: block;
          }
      }
      img {
          @media (min-width: $media-768) {
              width: 100%;
              height: 100vh;
          }
          width: 100%;
          height: 55vh;
      }
  }
  
  .title {
      position: absolute;
      top: 25%;
      left: 0;
      height: 50%;
      width: 100%;
      &-1 {
          position: absolute;
          top: 25%;
          left: 0;
          height: 100%;
          width: 100%;
          text-align: center;
          @media (min-width: $media-768) {}
          h1 {
              margin: 0 auto;
              text-align: center;
              width: 59%;
          }
          p {
              color: #ffffff;
              font-size: 2rem;
              font-weight: 700;
              display: none;
              margin-bottom: 3rem;
              @media (min-width: $media-768) {
                  display: block;
              }
          }
          a {
              text-align: center;
              text-decoration: none;
              background-color: #ffffff;
              color: $color-fir;
              font-size: 2rem;
              text-transform: uppercase;
              font-weight: 700;
              width: 35.4rem;
              display: inline-block;
              padding: 1rem 3rem;
              &:hover {
                  background-color: $color-fir;
                  color: #ffffff;
                  transition: background-color 0.3s ease;
              }
              @media (min-width: $media-768) {
                  padding: 2rem 4.5rem;
              }
          }
      }
      p {
          color: #ffffff;
          font-size: 2rem;
          font-weight: 700;
          display: none;
          margin-bottom: 3rem;
          @media (min-width: $media-768) {
              display: block;
          }
      }
      a {
          text-decoration: none;
          background-color: #ffffff;
          color: $color-fir;
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 700;
          padding: 1.5rem 4.5rem;
          &:hover {
              background-color: $color-fir;
              color: #ffffff;
              transition: background-color 0.3s ease;
          }
          @media (min-width: $media-768) {
              padding: 2rem 4.5rem;
          }
      }
  }
  
  #slideshow {
      position: relative;
  }
  
  .slickshow {
      position: relative;
      .title {
          img {
              margin: 0;
              @media (min-width: $media-768) {
                  width: 9.4rem;
                  height: 6.4rem;
              }
              width: 5rem;
              height: 3rem;
          }
          a {
              text-decoration: none;
              background-color: $color-fir;
              color: #ffffff;
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 700;
              display: inline-block;
              width: 35rem;
              text-align: center;
              &:hover {
                  background-color: #ffffff;
                  color: $color-fir;
                  transition: background-color 0.3s ease;
              }
              border: none;
              padding: 1.5rem 4.5rem;
              @media (min-width: $media-768) {
                  padding: 2.2rem;
                  margin-right: 1.9rem;
              }
          }
      }
  }
  
  .multiple-items i,
  .multiple-items-2 i,
  .mmultiple-items-3 i {
      display: none;
      color: $color-fou;
      right: 0;
      top: 50%;
      font-size: 3rem;
      @media (min-width: $media-768) {
          display: block;
          position: absolute;
      }
  }
  
  .slick-2 img {
      @media (min-width: $media-768) {
          width: 100%;
          height: 82.9rem;
      }
      width: 100%;
      height: 55vh;
  }
  
  .slick-3 img {
      @media (min-width: $media-768) {
          width: 100%;
          height: 72.2rem;
      }
      width: 100%;
      height: 100%;
      -webkit-filter: brightness(0.7);
      .slick-dots li button:before {
          font-family: 'slick';
          font-size: 40px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          color: $color-fir !important;
      }
      .slick-dots li.slick-active button:before {
          color: $color-fou !important;
      }
  }
  
  .title-1 {
      img {
          margin: 0 auto;
          @media (min-width: $media-768) {
              width: 9.4rem;
              height: 6.4rem;
          }
          width: 5rem;
          height: 3rem;
      }
  }
  
  .scroll {
      position: absolute;
      left: 50%;
      top: auto;
      bottom: 5rem;
      width: 9.4rem;
      height: 6.4rem;
      img {
          margin: 0 auto;
          @media (min-width: $media-768) {
              width: 9.4rem;
              height: 6.4rem;
          }
          width: 5rem;
          height: 3rem;
      }
  }