.redesMio {
    background-color: #fff;
    text-align: right;
    h3 {
        color: #ffffff;
        font-size: 4rem;
        text-align: right;
    }
    p {
        color: #ffffff;
        font-size: 2.4rem;
    }
    @media (min-width: $media-1600) {
        height: 80.7rem;
        margin-bottom: 10rem;
    }
    height: 100%;
    .row {
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .background {
        padding: 4rem 2rem;
        @media (min-width: $media-960) {
            padding: 6rem 2.5rem;
        }
        @media (min-width: $media-1600) {
            padding: 16rem 5.2rem;
        }
        background: rgb(19, 129, 200);
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(19, 129, 200, 1) 1%, rgba(20, 126, 200, 1) 18%, rgba(18, 128, 194, 1) 60%, rgba(19, 127, 161, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(19, 129, 200, 1) 1%, rgba(20, 126, 200, 1) 18%, rgba(18, 128, 194, 1) 60%, rgba(19, 127, 161, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(19, 129, 200, 1) 1%, rgba(20, 126, 200, 1) 18%, rgba(18, 128, 194, 1) 60%, rgba(19, 127, 161, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}

.ubicacion {
    margin-bottom: 5rem;
    &-banner {
        margin-top: 7rem;
        @media (min-width: $media-768) {
            margin-top: 5rem;
        }
        @media (min-width: $media-1280) {
            margin-top: 7rem;
        }
        @media (min-width: $media-1600) {
            margin-top: 9rem;
        }
        h3 {
            text-align: left;
            color: $color-fir;
            font-size: 4rem;
            @media (min-width: $media-960) {
                font-size: 3rem;
            }
            @media (min-width: $media-1600) {
                font-size: 4rem;
            }
        }
        p {
            @media (min-width: $media-768) {
                font-size: 2.2rem;
            }
            @media (min-width: $media-1600) {
                font-size: 2.6rem;
            }
            color: $color-fir;
            font-size: 1.6rem;
        }
        height: 25rem;
    }
    &-main {
        background-color: #000000;
        h2 {
            font-weight: 700;
            margin: 1rem 0;
            font-size: 4rem;
            @media (min-width: $media-1280) {
                font-size: 3.5rem;
            }
            @media (min-width: $media-1600) {
                font-size: 4rem;
            }
        }
        .title {
            @media (min-width: $media-768) {
                margin-top: 5rem;
            }
        }
        span {
            text-align: left;
            color: #ffffff;
            position: absolute;
            top: auto;
            bottom: 2rem;
            left: 14.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            display: none;
            width: 72.5rem;
            @media (min-width: $media-1600) {
                display: block;
                width: 72.5rem;
                top: auto;
                bottom: 3rem;
                left: 7rem;
            }
            @media (min-width: 1920px) {
                display: block;
                width: 72.5rem;
                top: auto;
                bottom: 3rem;
                left: 14.5rem;
            }
        }
        img {
            object-fit: cover;
            opacity: 0.6;
            @media (min-width: $media-768) {
                width: 100%;
                height: 70vh;
            }
            width: 100%;
            height: 100vh;
        }
    }
}