  /*video*/
  
  .community {
      background-color: #ffffff;
      position: relative;
      text-align: center;
      height: 100%;
      margin: 5rem 0;
      @media (min-width: $media-768) {
          text-align: left;
          height: 86.3rem;
      }
      .row {
          padding: 0;
      }
      .col-12 {
          padding: 0;
      }
      h1 {
          color: $color-fir;
          text-transform: capitalize;
          text-align: center;
          margin: 0;
          padding: 0;
          @media (min-width: $media-768) {
              text-align: left;
          }
      }
      h4 {
          color: $color-fir;
          margin-top: 0;
          text-align: center;
          padding: 0;
          @media (min-width: $media-768) {
              margin-top: 5rem;
              text-align: left;
          }
      }
      p {
          color: $color-fir;
          font-size: 3rem;
          font-weight: 500;
          margin-bottom: 3rem;
          padding: 0;
      }
      ul {
          margin-top: 3rem;
          padding: 0;
      }
      a {
          text-decoration: none;
          background-color: $color-fir;
          color: #ffffff;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: 700;
          display: inline-block;
          width: 35rem;
          &:hover {
              background-color: #ffffff;
              color: $color-fir;
              transition: background-color 0.3s ease;
          }
          border: 1px solid $color-fir;
          padding: 1.5rem 4.5rem;
          @media (min-width: $media-768) {
              padding: 2.2rem;
              margin-right: 1.9rem;
          }
      }
  }
  
  .comunidad {
      @media (min-width: $media-768) {
          padding-top: 20rem;
      }
  }
  
  .video {
      max-width: 100%;
      max-height: 80rem;
      margin-top: 3rem;
      position: relative;
      @media (min-width: $media-768) {
          position: absolute;
          overflow: hidden;
          right: 0;
          top: 15%;
          width: 50%;
          height: 64.4rem;
          margin: 0;
      }
  }
  
  .middle {
      @media (min-width: $media-768) {
          display: flex;
      }
      text-align: center;
      display: inline;
  }